.overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 0;
	z-index: 9999;
	background-color: rgba(255, 255, 255, 0.85);
}

.hidden {
	display: none !important;
}

.word-board-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-auto-rows: minmax(0, 1fr);
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.word-board-grid > button {
	font-size: 1rem;
	padding: 2rem 0.3rem;
}

@media (min-width: 576px) {
	/* .word-board-grid { */
	/* 	grid-template-columns: repeat(3, minmax(0, 1fr)); */
	/* } */
	/* .word-board-grid > button { */
	/* 	font-size: 1.2rem; */
	/* } */
}
@media (min-width: 768px) {
	.word-board-grid {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.word-board-grid > button {
		font-size: 1.4rem;
		padding: 2rem 0.3rem;
	}
}
@media (min-width: 1024px) {
	.word-board-grid {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.word-board-grid > button {
		font-size: 1.4rem;
		padding: 2rem 0.3rem;
	}
}
@media (min-width: 1280px) {
	.word-board-grid {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
	.word-board-grid > button {
		font-size: 1.6rem;
		padding: 2rem 0.3rem;
	}
}
@media (min-width: 1536px) {
	.word-board-grid {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}
	.word-board-grid > button {
		font-size: 2rem;
		padding: 2rem 0.3rem;
	}
}
